<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="STDOUT" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <param name="File" value="${catalina.base}/logsMD/MagazziniDigitaliGestionale/stdOut.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="INFO"/>
    </filter>
  </appender>
  
  <appender name="STDERR" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <param name="File" value="${catalina.base}/logsMD/MagazziniDigitaliGestionale/stdErr.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="WARN"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>
  
  <!-- SMTP will only log error events -->
  <appender name="EMAIL" class="org.apache.log4j.net.SMTPAppender">
    <param name="BufferSize" value="1" /> <!-- default is 512, changed for test cases to work -->
    <!-- GMail will not work without this, log4j 1.2.16 is required this why earlier versions required hack-->
    <param name="SMTPProtocol" value="smtps" />
    <param name="SMTPHost" value="smtp.gmail.com" />
    <param name="SMTPPort" value="465" />
    <param name="SMTPUsername" value="opendigital.notifica@gmail.com" /> <!-- example@gmail.com -->
    <param name="SMTPPassword" value="G@l@ss1@" /> <!-- passowrd -->
    <param name="To" value="massimiliano.randazzo@bncf.firenze.sbn.it"/>
    <param name="Subject" value="Magazzini Digitali - Modulo Gestionale (Ambiente di Test)"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="ERROR"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>
  
  <category name="org.apache.jasper.compiler.JspRuntimeContext">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="org.apache">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="org.springframework">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="org.hibernate">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="org.spring4gwt">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="it.bncf.magazziniDigitali">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <root>
    <level value="ERROR"/>
    <appender-ref ref="EMAIL"/>
  </root>
</log4j:configuration>
