<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <property name="connection.datasource">java:comp/env/jdbc/MD_CD</property> 
			<property name="show_sql">false</property> <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property> -->

		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.password">Magazzini</property>
		<property name="hibernate.connection.url">jdbc:mysql://dbservertest.bncf.lan:3306/MagazziniDigitali_Svil?autoReconnect=true&amp;serverTimezone=UTC</property>
		<property name="hibernate.connection.username">MD</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		<property name="use_sql_comments">false</property>

		<mapping resource="it/bncf/magazziniDigitali/database/entity/MDArchive.hbm.xml" />
		<mapping resource="it/bncf/magazziniDigitali/database/entity/MDClient.hbm.xml" />
		<mapping resource="it/bncf/magazziniDigitali/database/entity/MDEvent.hbm.xml" />
		<mapping
			resource="it/bncf/magazziniDigitali/database/entity/MDFilesTmp.hbm.xml" />
		<mapping
			resource="it/bncf/magazziniDigitali/database/entity/MDFilesTmpError.hbm.xml" />
		<mapping
			resource="it/bncf/magazziniDigitali/database/entity/MDIstituzione.hbm.xml" />
		<mapping resource="it/bncf/magazziniDigitali/database/entity/MDNodi.hbm.xml" />
		<mapping
			resource="it/bncf/magazziniDigitali/database/entity/MDRegistroIngresso.hbm.xml" />
		<mapping
			resource="it/bncf/magazziniDigitali/database/entity/MDRegistroIngressoError.hbm.xml" />
		<mapping resource="it/bncf/magazziniDigitali/database/entity/MDRigths.hbm.xml" />
		<mapping resource="it/bncf/magazziniDigitali/database/entity/MDSoftware.hbm.xml" />
		<mapping resource="it/bncf/magazziniDigitali/database/entity/MDSoftwareConfig.hbm.xml" />
		<mapping resource="it/bncf/magazziniDigitali/database/entity/MDStato.hbm.xml" />
		<mapping resource="it/bncf/magazziniDigitali/database/entity/MDUtenti.hbm.xml" />
	</session-factory>
</hibernate-configuration>
